/* Style général de la navbar */
.navbar {
    background-color: #333333; /* Gris foncé */
    padding: 0.5rem 1rem; /* Réduit l'espacement */
}

/* Style des éléments de texte dans la navbar */
.navbar-brand, 
.nav-link, 
.dropdown-item {
    color: #fff !important; /* Texte blanc pour un meilleur contraste */
}

/* Personnalisation du bouton de la navbar */
.navbar-toggler {
    border-color: #888; /* Gris plus foncé pour le bouton */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Personnalisation du menu déroulant (dropdown) */
.navbar .dropdown-menu {
    background-color: #333333 !important;  /* Gris foncé similaire à la navbar */
    border-color: #888 !important; /* Couleur de la bordure du menu */
}

/* Personnalisation des éléments du menu déroulant */
.navbar .dropdown-item {
    color: white; /* Texte blanc dans le menu déroulant */
}

/* Changer la couleur de fond au survol des éléments du menu déroulant */
.navbar .dropdown-item:hover {
    background-color: #555; /* Gris plus clair au survol */
}

/* Personnalisation du bouton de déconnexion */
#logoutBtn {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}
#logoutBtn:hover {
    background-color: #c82333;
    border-color: #c82333;
}

/* Réduire la largeur de la première colonne */
.col-1 {
    width: 25%; /* Réduit la largeur de la colonne à 25% */
}

/* Colonnes restantes prennent 37.5% de largeur */
.col-2, .col-3 {
    width: 37.5%; /* Ces colonnes prennent les 75% restants, divisées également */
}

/* Personnalisation du tableau */
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

/* Styles pour les bordures du tableau */
.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

/* Couleur de fond pour l'en-tête du tableau */
.table thead {
    background-color: #f8f9fa;
    color: #333;
}

/* Style des cellules du tableau */
.table td, .table th {
    font-size: 16px;
    color: #333;
}

/* Survol des lignes du tableau */
.table tr:hover {
    background-color: #f1f1f1;
}
